/**
* 自定义功能 需要用到一大堆主题变量时，可以将样式写在这
*/

.#{$ns}LibDropdown {
  ul {
    background-color: var(--DropDown-menu-bg);
  }
  li {
    &:hover {
      color: var(--DropDown-menuItem-onHover-color);
      background-color: var(--DropDown-menuItem-onHover-bg);
    }
  }
}

.with-route-tabs {
  .#{$ns}Layout {
    /** 由于z-index 层级问题引起的BUG */
    &--folded.#{$ns}Layout--asideFixed {
      .#{$ns}Layout-asideWrap {
        z-index: $zindex-fixed;
        top: var(--Layout-header-height);
      }
    }
    .navbar-brand-holder {
      position: fixed;
      z-index: $zindex-fixed + 1;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--Layout-aside--folded-width);
      height: var(--Layout-header-height);
      background: var(--Layout-brand-bg);
      color: var(--Layout-brandBar-color);
      img {
        max-height: calc(var(--Layout-header-height) / 2);
      }
    }
  }
}

.#{$ns}Layout {
  &-brand {
    height: var(--Layout-header-height);
  }
}


.#{$ns}Table-table > tbody > tr + tr {
  background: var(--Table-even-bg);
}

