.#{$ns}LibDropdown {
  ul {
    background-color: $DropDown-menu-bg;
  }
  li {
    &:hover {
      color: $DropDown-menuItem-onHover-color;
      background-color: $DropDown-menuItem-onHover-bg;
    }
  }
}

.#{$ns}Layout {
  /** 由于z-index 层级问题引起的BUG */
  &--folded.#{$ns}Layout--asideFixed {
    .#{$ns}Layout-asideWrap {
      z-index: $zindex-fixed;
      top: $Layout-header-height;
    }
  }
  .navbar-brand-holder {
    position: fixed;
    z-index: $zindex-fixed + 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $Layout-aside--folded-width;
    height: $Layout-header-height;
    background: $Layout-brand-bg;
    color: $Layout-brandBar-color;
    img {
      max-height: $Layout-header-height / 2;
    }
  }
}

.#{$ns}RouteTabs {
  background-color: #fff;
  .chrome-tabs {
    background: #eaeaea;
  }
  .chrome-tab-title {
    color: red;
  }
}
