// 自定义 amis 主题
// 具体参照源码 https://github.com/baidu/amis/tree/master/scss/themes
// 修改主题后 需要 手动执行 yarn build:theme 才能生效。（执行前必须全局安装 node-sass）

// TODO: 制定自定义主题

@import '../functions';

$ns: 'l-';

$primary: #7266ba;
$info: #23b7e5;
$success: #27c24c;
$warning: #fad733;
$danger: #f05050;
$light: #edf1f2;
$dark: #3a3f51;
$black: #1c2b36;

$text-color: #58666e;
$link-color: $info;

$Form-input-borderColor: #cfdadd;

@import '../base.scss'