$remFactor: 16px;

$ns: 'cxd-';

$info: #108cee;
$primary: #108cee;
$success: #5fb333;
$warning: #f39000;
$danger: #ea2e2e;
$light: #eaf6fe;
$white: #fff;

$info-bg: #eaf6fe;
$success-bg: #f1fdeb;
$warning-bg: #fcf7f1;
$danger-bg: #fff5f5;

$text-color: #666;

$Toast-icon-fillHeight: false;
$Button-onDisabled-bg: #f5f5f5;
$Button-onDisabled-borderColor: #ebebeb;
$Button-onDisabled-color: #aaa;
$Number-handler-mode: 'horizontal';
// css 变量似乎没法用 !important，所以这里用 sass 变量
$Wizard-steps-liAfterBorder: none !important;
