$ns: 'dark-';

$orange: #ff9f0b;
$yellow: #ffd609;
$green: #32d74b;
$turquoise: #00d1b2;
$cyan: #17a2b8;
$blue: #0983ff;
$purple: #bf5af2;
$red: #dc3545;

$primary: $blue;
$info: #2296f3;
$success: $green;
$warning: $orange;
$danger: $red;
$light: #3a3a3a;
$dark: #1e1f22;
$black: #141316;

$text-color: rgb(243, 241, 241);

$text--muted-color: #6c6c6c;
$text--loud-color: lighten($text-color, 10%);

$Page-aside-bg: #3c3c3c;
$Panel-bg: #302d2a;
$link-color: $info;

