// amis 官方主题: default
// 具体参照源码 https://github.com/baidu/amis/tree/master/scss/themes

@import '../_lib/utils';

@import './ang_vars';

@import '../variables';
@import '../properties';

// lib core redefined
:root {
  --Spinner-bg: #{$Spinner-bg};
  --Layout-aside-onHover-bg: #{lighten($info, 5%)};
  --Layout-aside-onAcitve-bg: #{darken($info, 5%)};
}

// site default theme scss
// @import './themes/_default.scss';

// amis lib scss
@import '../_lib/_amis_components';
@import '../_lib/global';
