// amis 官方主题: 百度云舍
// 具体参照源码 https://github.com/baidu/amis/tree/master/scss/themes

@import '../_lib/utils';

@import './_cxd_vars';

@import '../variables';
@import '../properties';

@import './_cxd_props';

// lib core redefined
:root {
  --Spinner-bg: #{$Spinner-bg};
  --DropDown-menuItem-onHover-bg: #eaf6fe;
  --Drawer-header-bg: #f6f7fb;
  --Drawer-header-borderColor: white;
}

// site cxd theme scss
@import './themes/_cxd.scss';

// amis lib scss
@import '../_lib/_amis_components';
@import '../_lib/global';
