// amis 官方主题: dark
// 具体参照源码 https://github.com/baidu/amis/tree/master/scss/themes

@import '../_lib/utils';

@import './_dark_vars';

// lib core redefined
@import '../variables';
@import '../properties';

@import './_dark_props';

// lib core redefined
:root {
  --Spinner-bg: #{$Spinner-bg};
  --Spinner-overlay-bg: rgba(25, 28, 35, 0.5);
  --text-color: #b4b6bd;
  --DropDown-menu-bg: #565656;
  --Modal-header-bg: #2d2f31;
  --Drawer-header-bg: #2d2f31;
  --Drawer-header-borderColor: #656565;
  --Modal-body-borderTop: 1px solide #656565;
  --Button--default-onActive-color: #b4b6bd;
  --Button--default-onActive-bg: #010101;
  --Button--default-onActive-border: #4c4c4c;
  --Button--default-onHover-color: #b4b6bd;
  --Button--default-onHover-bg: #010101;
  --Button--default-onHover-border: #4c4c4c;
  --Table-onHover-borderColor: #4c4c4c;
  --borderWidth: 0.5px;
  --Table-strip-bg: transparent;
  --Table-even-bg: #3e3f41;
}

// site dark theme scss
// @import './themes/_dark.scss';

// amis lib scss
@import '../_lib/_amis_components';
@import '../_lib/global';
