/* 扩展全局样式
  amis 可用样式：https://baidu.github.io/amis/docs/style
*/

.text-c {
  text-align: center;
}

.text-c-i {
  text-align: center !important;
}

.text-l {
  text-align: left;
}

.text-l-i {
  text-align: left !important;
}

.text-r {
  text-align: right;
}

.text-r-i {
  text-align: right !important;
}

.pointer {
  cursor: pointer;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

.no-bg-c {
  background-color: transparent;
}
