/* 扩展全局样式
  amis 可用样式：https://baidu.github.io/amis/docs/style
*/

body {
  overflow: hidden;
}

.text-c {
  text-align: center;
}

.text-c-i {
  text-align: center !important;
}

.text-l {
  text-align: left;
}

.text-l-i {
  text-align: left !important;
}

.text-r {
  text-align: right;
}

.text-r-i {
  text-align: right !important;
}

.pointer {
  cursor: pointer;
}

.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.p-fix {
  position: fixed;
}

.p-b-none {
  padding-bottom: 0 !important;
}